// @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
.h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  line-height: 1.5;
  padding: 10px;
}
