// @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: normal;
  // text-align: center;
  line-height: 1.5;
  padding: 10px;
}
.container {
  width: 90rem;
  padding: 0 10px;
  background: #ccc;
  margin: 0 auto;
}
.section {
  padding: 50px 0;
}
.cards {
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.3125rem;
}
